@import url('https://fonts.googleapis.com/css2?family=Finlandica:wght@600&display=swap'); * {
    margin: 0;
    padding: 0;
}

.navbar {
  background-color: white;
    height: auto;
    box-shadow: 0px 2px 2px white;
    display: inline-flex;
    width: 100%;
}

.left {
    height: auto;
}

.clg_logo {
    display: block;
    height: 100px;
    margin: 10px;
    padding-left: 40px;
}

.right {
    width: 100%;
    margin: auto;
    word-spacing: 100px;
    padding-right: 100px;
}

.menu {
    height: 100%;
    width: 100%;
    margin: auto;
}

.menu button {
    height: 30px;
    font-size: 28px;
    padding-left: 10px;
    padding-right: 10px;
    background: none;
    border: none;
    transition: 0.5s;
}

.menu button a {
    text-decoration: none;
    color: brown;
    font-family: 'Finlandica', sans-serif;
}

.move {
    float: right;
}

.s1 {
   height: 500px;  
}

.pvpclg {
   width: 100%;
  opacity: 0.3;
}